h1 {
    color: #FF0000;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
}
small {
    font-weight: bold;
}
.sessao1 img {
    width: -500px;
    
}
.rodape {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.rodape li {
    display: inline;
    margin-left: 10px;
}
.logo {
    width: 30px;
}